{# This template will be a simple card #}

<div class="card">
    <div class="card-header alert-info">
        <h2 class="font-weight-bold">
        {% block card_title %}
        {% endblock %}
        </h2>
{#          <button class="float-right" type="button" data-toggle="collapse" data-target="#collapseExample"#}
{#                  aria-expanded="false" aria-controls="collapseExample"></button>#}
    </div>
{#    <div class="card-body collapse" id="collapseExample">#}
    <div class="card-body red lighten-5">

        {% block card_body %}
        {% endblock %}

    </div>
    <div class="card-footer">
        {% block card_footer %}
        {% endblock %}
    </div>
</div>

