{# This template will be a simple card that lists objects #}

<div class="card card-shadow">
    <div class="card-header blue accent-1">
        {% block card_title %}

        {% endblock %}
{#          <button class="float-right" type="button" data-toggle="collapse" data-target="#collapseExample"#}
{#                  aria-expanded="false" aria-controls="collapseExample"></button>#}
    </div>
{#    <div class="card-body red lighten-4 collapse" id="collapseExample">#}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="card-body red lighten-5">
{#        <div class="card-title">#}
{#            <h3 class="text-center title-2">Creat A Task for this Consultant</h3>#}
{#        </div>#}

            <table class="table table-user-information">
            <thead>
                {% block table_header %}
                    <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    </tr>
                {% endblock %}
            </thead>
            <tbody>
                {% block list_items %}
                    <tr> <td>Item:</td> <td> Something</td></tr>
                    <tr> <td>Item:</td> <td> Something</td></tr>
                    <tr> <td>Item:</td> <td> Something</td></tr>
                {% endblock %}
            </tbody>
            </table>
        {% block below_list %}
        {% endblock %}

    </div>
    <div class="card-footer blue accent-1">
        {% block card_footer %}
        {% endblock %}
    </div>
</form>
</div>

