<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0b2e13">

  <!-- Navbar brand -->
    <a class="navbar-brand" href="/">
      {% block nav_title %}
        {% endblock %}
    </a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MainNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="MainNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        {% for url_name, url_path in urls.items %}
      <li class="nav-item">
        <a class="nav-link" href="{% url url_path %}">{{ url_name }}
        </a>
      </li>
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'main:about' %}">About</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'main:subscribe' %}">Subscribe</a>#}
{#      </li>#}
        {% endfor %}
      <!-- Dropdown -->
{#      <li class="nav-item dropdown">#}
{#        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"#}
{#          aria-haspopup="true" aria-expanded="false">For Authors</a>#}
{#        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">#}
{#          <a class="dropdown-item" href="{% url 'main:prepare' %}">Preparing Your Manuscript</a>#}
{#          <a class="dropdown-item" href="{% url 'main:charges' %}">Publication Charges</a>#}
{#          <a class="dropdown-item" href="{% url 'main:submit' %}">Submit Your Research</a>#}
{#        </div>#}
{#      </li>#}

    </ul>
    <!-- Links -->

{#    <form class="form-inline">#}
{#      <div class="md-form my-0">#}
{#        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#      </div>#}
{#    </form>#}
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

<script>
  navbar = document.getElementById("MainNav");
  var i;
  for (i = 0; i < navbar.children[0].children.length; i++){
      console.log(navbar.children[0].children[i].innerText.toLowerCase().replace(/ /g,"_"));
      console.log(window.location.href.includes(navbar.children[0].children[i].innerText.toLowerCase().replace(/ /g,"_")));
      if (window.location.href.includes(navbar.children[0].children[i].innerText.toLowerCase().replace(/ /g,"_"))){
          navbar.children[0].children[i].className = "nav-item active";
       }
  }

</script>
