 <!-- Sidebar -->
{#         Here is the nav bar  holder#}
{#    <div class="position-fixed">#}
{#        <div class="col-sm-2 hidden-xs">#}
{#        {% load static %}#}
{#        <img src="{{ user.get_profile_image }}" width="64" height="64">#}
{#        <img src="/run/media/default_profile.png" alt="Image">#}
{#          <img src={{ user.get_profile_image }}>#}
{#          <ul class="sidebar-nav">#}
{#               set the dashboard button #}
{#              {% if 'dashboard' in request.resolver_match.url_name %}#}
{#                  <li class="active"><a href={% url 'manager:dashboard' %}>  Dashboard</a></li>#}
{#              {% else %}#}
{#                  <li><a href={% url 'manager:dashboard' %}>Dashboard</a></li>#}
{#              {% endif %}#}
{#          set the profile button #}
{#              {% if 'profile' in request.resolver_match.url_name %}#}
{#                  <li class="active"><a href={% url 'manager:profile' %}>My Profile</a></li>#}
{#              {% else %}#}
{#                    <li><a href={% url 'manager:profile' %}>My Profile</a></li>#}
{#              {% endif %}#}
{##}
{#          </ul><br>#}
{##}
{#            <br>#}
{#        </div>#}
{#        </div>#}
{#{% load static %}#}
{#<link type='text/css' href="{% static 'templates_includes/navbars/simple-sidebar.css' %}" rel="stylesheet">#}
{##}
{#        <div class="container-fluid">#}
{#            <ul class="sidebar-nav">#}
{#                <li class="sidebar-brand">#}
{#                    {% block sidenav-title %}#}
{#                    <a href="#">#}
{#                        Start Bootstrap Nope#}
{#                    </a>#}
{#                    {% endblock %}#}
{#                </li>#}
{#            {% block sidenav-contents %}#}
{#                <li>#}
{#                    <a href="#">Dashboard</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Shortcuts</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Overview</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Events</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">About</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Services</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Contact</a>#}
{#                </li>#}
{#            {% endblock %}#}
{#            </ul>#}
{#</div>#}
